<html>
  <head>
  </head>
  <body>
    <div class="page-title">
      <h1>Marionette - Models</h1>
    </div>

    <div class="target">
    </div>

    <script type="text/template" id="template">
      <p><%- firstName %> <%- lastName %></p>
    </script>


    <script src="../assets/jquery-1.11.3.min.js"></script>
    <script src="../assets/underscore-min.js"></script>
    <script src="../assets/backbone-min.js"></script>
    <script src="../assets/backbone.marionette.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>